<div class="sidebar-container">
    <!-- <div class="sidebar-logo">
      Project Name
    </div> -->
    <ul class="sidebar-navigation">
      <!-- <li class="header">Navigation</li> -->
      <li>
        <a href="javascript:void(0);">
            <i class="material-icons" style="font-size:20px;color:white">desktop_windows</i> Dashboard
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
            <i class="material-icons" style="font-size:20px;color:white">build</i> Mapping
        </a>
      </li>
      <!-- <li class="header">Another Menu</li> -->
      <li>
        
        <a href="javascript:void(0);">
            <i class="material-icons" style="font-size:20px;color:white">event_note</i>
            Scheduler
        </a>
      </li>

      <li>
        
        <a  href="#" onclick="logout()">
            <i class="material-icons" style="font-size:20px;color:white"> power_settings_new</i>
            Logout
        </a>
      </li>
    </ul>
  </div>
  