<div class="area"><nav class="main-menu" >
    <!-- <div class="area"><nav class="main-menu" [ngStyle]="panelToggle?{'width':'200px','overflow':'visible'} : {'width':'60px','overflow':'hidden'}"> -->
  <ul>
      <!-- <li>
          <a href="javascript:void(0);">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                  Home
              </span>
          </a>
        
      </li> -->
      <!-- <li routerLinkActive="active" class="has-subnav" (click)="redirectToQickLink('dashboard')">
          <a  routerLink="dashboard" >
              <i class="fa fa-laptop fa-2x"></i>
              <span class="nav-text">
                  Dashboard
              </span>
          </a>
          
      </li> -->
      <!-- <li class="has-subnav panel-toggle" (click)="leftPanelToggle()">
        <a>
           <i class="fa fa-bars fa-2x"></i>
        </a>
       
    </li> -->
    
     <li class="has-subnav panel-toggle">
        <a>
         
             <span class="nav-text panel-head">
               Menu
             </span>
         </a>
       
    </li>
      <li routerLinkActive="active" class="has-subnav" (click)="redirectToQickLink('mapping')">
        <a routerLink="mapping">
           <i class="fa fa-cogs fa-2x"></i>
            <span class="nav-text">
              Mapping
            </span>
        </a>
       
    </li>
      <li routerLinkActive="active" class="has-subnav" (click)="redirectToQickLink('scheduler')">
          <a routerLink="scheduler" >
             <i class="fa fa-calendar fa-2x"></i>
              <span class="nav-text">
                Scheduler
              </span>
          </a>
          
      </li>
      
  
  </ul>

  <ul class="logout">
      <li>
         <a href="#" onclick="logout()">
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                  Logout
              </span>
          </a>
      </li>  
  </ul>
</nav>
</div>