.buttonpanel-left{
    float: left; 
    height: 100%;
    width: 210px; 
   
}

.buttonpanel-right{
    float: right; 
    
    height: 107%; 
   width: 82%;
   
}

.app-header-width{
    width: 99%;
}
