<div class="container">
  
    <div class="jumbotron rounded-0">
      <h2 class="badge badge-light">SCHEDULER</h2>
        <form class="form-class">
      
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>Request Name</h3>
                        </div>
                        <div class="card-body">
                            
                       <input type="text" class="form-control" id="requestname" name="requestname">

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">

                    <div class="card">
                        <div class="card-header">
                            <h3>Parameters</h3>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openModalDialog()">Enter Parameters</button>
                        </div>
                    </div>
       
                </div>
                <div class="col-sm-4">

                    <div class="card">
                        <div class="card-header">
                            <h3>Status</h3>
                        </div>
                        <div class="card-body">
                            <!-- <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%">In Progress</div>
                            </div> -->
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Cancelled</div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="backdrop" [ngStyle]="{'display':display}"></div>
                <!-- modal -->
                <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
                   <!-- modal-dialog -->
                   <div class="modal-dialog" role="document">
                      <!-- modal-content -->
                      <div class="modal-content">
                         <!-- modal-header -->
                         <div class="modal-header">
                            <button type="button" class="close" aria-label="Close"(click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
                            <!-- <h4 class="modal-title">Login</h4> -->
                         </div>
                         <!-- modal-body -->
                         <div class="modal-body">
                            <form [formGroup]="paramForm" (submit)="onSubmit()"> 
                                <div class="form-group row">
                                  <label for="param" class="col-sm-2 col-form-label">Param1</label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="param1" id="param1" placeholder="Please Enter Param">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="param" class="col-sm-2 col-form-label">Param2</label>
                                  <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="param2" id="param2" placeholder="Please Enter Param">
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <label for="param" class="col-sm-2 col-form-label">Param3</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" formControlName="param3" id="param3" placeholder="Please Enter Param">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="param" class="col-sm-2 col-form-label">Param4</label>
                                    <div class="col-sm-10">
                                      <input type="text" class="form-control" formControlName="param4" id="param4" placeholder="Please Enter Param">
                                    </div>
                                  </div>
                                
                                <div class="form-group row sumit-param">
                                  <div class="col-sm-8">
                              
                                  </div>
                                  <div class="col-sm-2s">
                                    <button type="button" class="btn btn-danger" (click)="clearModalForm()">clear</button>
                                  </div>
                                  <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary">submit</button>
                                  </div>
                                </div>
                              </form>
                         </div>
                         <!-- modal-footer -->
                         <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-default" (click)="closeModalDialog()" >Close</button>
                         </div> -->
                      </div>
                   </div>
                </div>
            </div>


        </form>
    </div>
 
      
</div>
