<div class="container">
    <div class="jumbotron rounded-0">
        <h2 class="badge badge-light">Mapping</h2>
<form class="form-class">
    <div class="row">
<div class="col-sm-4">
    <div class="card table-select">
        <div class="card-body">
            <div class="target-Label">
                <div class="ng-autocomplete">
                    <ng-autocomplete 
                      [data]="mockDataTableList"
                      [searchKeyword]="TableName"
                      (selected)='selectTableEvent($event)'
                      (inputChanged)='onChangeSearch($event)'
                      (inputFocused)='onFocused($event)'
                      [itemTemplate]="itemTemplate"
                      [placeHolder] = "'Please Select Source Table'"
                      [notFoundTemplate]="notFoundTemplate">                                 
                    </ng-autocomplete>
                     
                    <ng-template #itemTemplate let-item>
                    <a [innerHTML]="mockDataTableList.name"></a>
                    </ng-template>
                     
                    <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                    </ng-template>
                    </div>
            </div>
        </div>
      </div>
    <div class="card">
        <div class="card-header"><h3>Source</h3></div>
        <div class="card-body">
            <div class="target-Label">
                <ul class="list-group" >
                    <li class="list-group-item" *ngFor="let item of mockDataSource; let i = index">{{item.name}} <br><br></li>
                  </ul>
            </div>
        </div>
      </div>
</div>
<div class="col-sm-4">
    <div class="card table-select">
        <div class="card-body">
            <div class="target-Label">
                <div class="ng-autocomplete">
                    <ng-autocomplete 
                      [data]="mockDataTableList"
                      [searchKeyword]="TableName"
                      (selected)='selectTableEvent($event)'
                      (inputChanged)='onChangeSearch($event)'
                      (inputFocused)='onFocused($event)'
                      [placeHolder] = "'Please Select Target Table'"
                      [itemTemplate]="itemTemplate"
                      [notFoundTemplate]="notFoundTemplate">                                 
                    </ng-autocomplete>
                     
                    <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                    </ng-template>
                     
                    <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                    </ng-template>
                    </div>
            </div>
        </div>
      </div>
    <div class="card">
        <div class="card-header"><h3>Target</h3></div>
        <div class="card-body">
            <div class="target-Label" *ngFor="let item of mockDataSource; let i = index">
                <div class="ng-autocomplete">
                    <ng-autocomplete 
                      [data]="mockDataTarget"
                      [searchKeyword]="keyword"
                      (selected)='selectEvent(item.name,$event)'
                      (inputChanged)='onChangeSearch($event)'
                      (inputFocused)='onFocused($event)'
                      [initialValue]="item.InitialVal"
                      (inputCleared) ='onClear(item.name)'
                      [itemTemplate]="itemTemplate"
                      [notFoundTemplate]="notFoundTemplate">                                 
                    </ng-autocomplete>
                     
                    <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.tag_name"></a>
                    </ng-template>
                     
                    <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                    </ng-template>
                    </div>
            </div>
        </div>
      </div>
</div>
<div class="col-sm-4">
 
    <div class="card mapping-card">
        <div class="card-header"><h3>Mapping</h3></div>
        <div class="card-body">
            <div class="target-Label">
                <ul class="list-group" >
                    <li class="list-group-item" *ngFor="let item of MappedData; let i = index">{{item.SourceName}} <span class="glyphicon glyphicon-arrow-right"></span> {{item.TargetName}}<br><br></li>
                  </ul>
            </div>
        </div>
      </div>
</div>
    </div>
    <div class="row"> 
        <div class="col-12 justify-content-end d-flex">
        <button type="button" class="btn btn-primary btn-save-next mr-3" (click)="ClearAll()">Clear</button>
        <button type="submit" class="btn btn-primary  btn-save-next">Submit</button>
        </div>
    </div>

</form>
</div>
</div>
